.fas.fa-phone {
  margin-top: 10px;
}

.fa.fa-envelope {
  margin-top: 5px;
}

.fab.fa-github {
  margin-top: 5px;
}

.fab.fa-stack-overflow {
  margin-top: 0px;
}

.fa.fa-whatsapp {
  margin-top: 5px;
}

